@model List<rohit_mvc.Models.modelclass>
@{
    ViewBag.Title = "Home Page";
}
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Address</td>
            <td><a href = "@Url.Action("Edit","Home",new {item.Id})"class="btn btn-success")>Edit</a></td>
            <td><a href= "@Url.Action("Delete","Home",new {item.Id})"class="btn btn-danger")>Delete</a></td>
            <td>@item.</td>
        </tr>

    }
</table>